body {
  background-color: lightgreen;
}

h1 {
  color: black;
  text-align: center;
}

p {
  color: black;
  font-family: white;
  font-size: 20px;
  text-align: center;
}

ul{
  color: black;
}

footer{
  color: black;


}
a{ color: green;


}

