*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body{
	background: #a0d2eb;
	font-family: arial;

}

.menu{
list-style: none;
padding: 0;
background: #8458B3;
width: 100%;
margin: auto;
position: absolute;
}

.menu li a{
	text-decoration: none;
	color:white;
	padding:20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background:white;
	text-decoration: none;
	color:black;
}

.buscador{
	position: absolute;
	top: 10px;
	left: 1000px;
	color:white;
}

audio{
	position: absolute;
	top:2px;
	left: 500px;
	
}

h1{
	position: relative;
	top:300px;
	left: 110px;
}

#imagen1{
	position: absolute;
	top:150px;
	left: 250px;
}

#letra1{
	position:absolute;
	top:300px;
	left:750px ;
	font-family: Alex Brush;
	font-size: 38px

}

.tabla{
	position: absolute;
	top:800px;
	left:100px ;

}

.formulario{
	position: absolute;
	top:700px;
	left:800px ;
}

footer{
	position: absolute;
	top:1000px;
	left:500px ;
}







